@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  color: white;
  font-size: 24px;
  font-family: "Anonymous Pro", monospace;
  background-color: black;
  text-align: center;
}

#textbox {
  width: 700px;
  border: 0;
  height: 35px;
  padding-left: 0.5em;
  color: #e4e2e2;
  font-size: 1em;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(20, 20, 20, 0.75);
  font-weight: 300;
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#textbox:focus {
  outline: none;
}

button {
  -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  display: block;
  margin: 20px auto;
  max-width: 90px auto;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 10px;
  display: inline-block;
  background-color: rgba(20, 20, 20, 0.75);
  font-size: 18px;
}

button.buttonstyle {
  color: white;
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

button.buttonstyle:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(255, 255, 255, 0.26) 0 0px 0px 40px inset;
}

button:focus {
  outline: none;
}

#clock {
  text-align: center;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 20px rgba(10, 175, 230, 0);
  font-size: 30px;
}



#greetingMsg {
  text-align: center;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(10, 175, 230, 0);
  font-size: 35px;
}

#Dertin {
  text-align: center;
  color: #daf6ff;
  text-shadow: 0 0 40px rgba(255, 255, 255, 0.5), 0 0 40px rgba(10, 175, 230, 0);
  font-size: 30px;
}

img {
  width: 300px;
  height: 300px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: inline-block;
  top: 0%;
  right: 1%;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  font-size: 18px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 770px) {
  #textbox {
    width: 500px;
  }

  button {
    max-width: 70px;
    font-size: 12px;
  }

  p {
    font-size: 16px;
    padding-bottom: 0.2em;
  }
}