/* Right Side Dropdown */

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: inline-block;
  top: 0%;
  right: 1%;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  font-size: 18px;
}

.dropdown-content p {
  color: #555555;
  margin: 1px;
  font-size: 12px;
  text-align: right;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Left App Drawer */

#mySidenav p {
  position: absolute;
  left: -35px;
  transition: 0.3s;
  padding: 15px 5px;
  width: 40px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
}

#mySidenav p:hover {
  left: 0;
  cursor: pointer;
}

#fbook {
  top: 80px;
  background-color: #3b5998;
}

#pint {
  top: 140px;
  background-color: #bd081c;
}

#insta {
  top: 20px;
  background-color: #d60a66;
}

#linkd {
  top: 200px;
  background-color: #0077b5;
}
